<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/stylesheet.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1>Recipes</h1>
      <form action="/search" method="get">
        <input type="text" name="q" placeholder="Food Keyword here">
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="container">
      <div class="row" style="display: flex; flex-wrap: wrap;">
        <% for(i = 0; i < data.recipes.length; i++) { %>
          <div class="col-md-3 col-sm-6">
            <img class='img-thumbnail' src=<%= data.recipes[i].image_url %> alt= <%= data.recipes[i].title %>>
            <h4 class="card-title"><a href= <%= data.recipes[i].source_url %>> <%= data.recipes[i].title %> </a></h4>
          </div>
        <% } %>
      </div>
    </div>



    <a href="/">Home</a>
  </body>
</html>
